doctype html
html
    head
        title="Product CRUD"
        link(href="https://bootswatch.com/3/paper/bootstrap.min.css",type="text/css",rel="stylesheet")
        meta(name="viewport",content="width=device-width,initial-scale=-1")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
    body
        nav.navbar.navbar-inverse
            .container
                .navbar-header
                    a(class="navbar-brand",href="/") Product CRUD
                    button(class="navbar-toggle",data-target="#myMenu",data-toggle="toggle")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                div(class="collapse navbar-collapse",id="myMenu")
                    ul.navbar-nav.nav
                        li
                            a(href="/") Products
                        li
                            a(href="/create") Create
        
        .container
            .row
                .col-md-12.jumbotron.text-center
                    h1="Update Product"
            .row
                .col-md-6.col-md-offset-3.well
                    form(action="/update/" + product['_id'] ,method="POST")
                        .form-group
                            label="title"
                            input(type="text",class="form-control",name="title",placeholder="Enter title",required ,value=product['title'])
                        .form-group
                            label="price"
                            input(type="number",class="form-control",name="price",placeholder="Enter Price",required value=product['price'])
                        .form-group
                            label="Image"
                            input(type="url",class="form-control",name="image",placeholder="https://www.xyz.com/1.jpg",required value=product['image'])
                        .form-group
                            label="Info"
                            textarea(class="form-control",name="info",cols="30",rows="5",placeholder="Product Information",required)=product['info']
                        .form-group
                            label="company"
                            input(type="text",class="form-control",name="company",placeholder="company name",required, value=product['company'])
                        .form-group
                            input(type="submit",value="Update product",class="btn btn-info")